<nav class="navbar navbar-expand">
  <div class="container">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          English
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">English</a></li>
          <li><a class="dropdown-item" href="#">Arabic</a></li>
        </ul>
      </li>
      <li class="nav-item ">
        <a class="nav-link active min-color fw-bold"  routerLink="/auth/login">login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link min-color fw-bold" routerLink="/auth/reigister">Reigister</a>
      </li>

    </ul>
  </div>
</nav>
