<section class=" shadow  rounded py-3 my-5 bg-light-subtle w-75 p-lg-4 p-md-3 mx-md-0 mx-auto">
  <div class="container">
    <div class="row mx-auto">
      <div class="col-md-2 d-none d-lg-block">
        <img src="skill-icons_html.png" alt="testImg" class="w-75">
      </div>
      <div class="col-lg-9 ">
        <div class="d-flex justify-content-between mt-3">
          <div class="exemTitle ">
            <h3 class="h5">Exam Title</h3>
            <p class="fs-8 text-black-50">number of questions</p>
          </div>
          <div class="fs-6 fw-bold">13 min</div>
        </div>
        <div class="d-flex justify-content-between">
          <div class="rightANSWER">
            <span class="text-primary fs-6">18 corrected answers in 12 min.</span>
          </div>
          <div class="fs-6 fw-bold"><button class="btn btn-primary">Answer</button></div>
        </div>

      </div>
    </div>
  </div>
</section>