<!-- !form-div -->
<form class="mt-5 p-md-5" [formGroup]="passwordForm" (submit)="newPasswordFunc()">

  <h2 class="h4">Set a Password</h2>

  <div class="input-fild my-3">
    <div class="input-group flex-nowrap">
      <input [type]="passwordType ?'text':'password'" class="form-control bg-light" placeholder="creat password" aria-label="password"
        aria-describedby="addon-wrapping" formControlName="password">
          <span class="input-group-text" (click)="passwordTogle()">

            @if (passwordType) {<i class="fa-solid fa-eye"></i>}
            @else {<i class="fa-solid fa-eye-slash"></i>}
          </span>

    </div>
    <!-- &wrong Div -->
    @if
    (passwordForm.get('password')?.errors&&(passwordForm.get('password')?.touched||passwordForm.get('password')?.dirty))
    {
    <div class=" text-danger mt-1  fs-7  p-1">

      @if (passwordForm.get('password')?.getError('required')) {
      <p class="p-0 m-0">password is requird</p>
      }
    </div>

    }
  </div>


  <div class=" input-fild mt-3">

    <div class="input-group mb-3">
      <input [type]="passwordType ?'text':'password'" class="form-control  bg-light" placeholder="Re-Enter Password"
        id="rePassword" aria-label="password" formControlName="rePassword">
      <span class="input-group-text" (click)="passwordTogle()">

        @if (passwordType) {<i class="fa-solid fa-eye"></i>}
        @else {<i class="fa-solid fa-eye-slash"></i>}
      </span>
    </div>



    @if
    (passwordForm.get('rePassword')?.errors&&(passwordForm.get('rePassword')?.touched||passwordForm.get('rePassword')?.dirty))
    {
    <div class=" text-danger mt-1  fs-7  p-1">

      @if (passwordForm.get('rePassword')?.getError('required')) {
      <p class="p-0 m-0">password is requird</p>
      }
    </div>

    }

  </div>



<div class="text-center">
  <button type="submit" class="btn btn-primary d-block w-100 rounded-4 text-white  my-4 px-4">sign in
    @if (isLogin) {<i class="fa-solid fa-spinner fa-spin"></i> }
  </button>
</div>









<app-icons-bar></app-icons-bar>

</form>
