<nav class="navbar navbar-expand-lg  shadow bg-primary">
  <div class="container-fluid ">




    <!-- !toggle -->
    <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa-solid fa-bars"></i> </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="list-unstyled mt-5 text-center d-flex flex-column" id="navbarNavAltMarkup">
        <li class="mb-4 mt-3 "><img src="Final Logo 1.png" alt="logo" class="w-25"></li>
        <li class="my-3 btn btn-primary " routerLink="/home/profile">
          <span class="me-3"><img src="bord.png" alt="dasbordImg" class="w-auto"></span><span
            class="fs-7">Dashboard</span>
        </li>
        <li class="my-3 btn btn-light " routerLink="/home/quizHistory">
          <span class="me-3"><i class="fa-solid fa-clock-rotate-left text-primary"></i></span>
          <span class="fs-7">Quiz
            History</span>
        </li>
        <li class="my-3  btn btn-light ">
          <span class="me-3"><i class="fa-solid fa-arrow-left text-primary"></i></span><span class="fs-7">Log
            Out</span>
        </li>
      </ul>



    </div>

    <button class="navbar-toggler  ms-3" type="button" data-bs-toggle="collapse" data-bs-target="#searchbar"
      aria-controls="searchbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="fa-solid fa-search text-white "></span>
    </button>
    <div class="collapse navbar-collapse" id="searchbar">
      <div class="input-group bg-light shadow">
        <span class="input-icon"><i class="fa-solid fa-search text-primary"></i></span>
        <input type="search" name="search" id="search" placeholder="Search Quiz">

      </div>
    </div>

    <div class="flex-grow-1   d-flex justify-content-end">
      <span class="d-flex justify-content-end"><img src="userImg.png" alt="profile img"
          class="w-25 rounded-circle"></span>
    </div>







  </div>
</nav>
