<section class="w-100  shadow pb-4">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2 d-flex justify-content-center align-items-center"><img src="userImg.png" alt="userImg"
          class="w-100"></div>
      <div class="col-md-8 px-4">
        <h3 class="h4 text-primary fw-bolder pt-4 text-capitalize">{{userData.firstName +' '+ userData.lastName }}</h3>
        <span class="fs-7 text-secondary ">Voluptatem aut</span>
        <div class="prosess">
          <div class="prosess2"></div>
        </div>

        <div class=" d-flex mt-3 ">




          <div class="col-md-4 d-flex justify-content-center align-items-center p-3">
            <i class="fa-solid fa-flag text-primary pe-3 fs-3"></i>
            <div> <span class="fs-5 fw-bolder">27</span><span class="fs-8 d-block">Quiz Passed</span></div>
          </div>

          <div class="col-md-4 d-flex justify-content-center align-items-center p-3">
            <i class="fa-solid fa-clock text-primary pe-3 fs-3"></i>
            <div> <span class="fs-5 fw-bold">13 min</span><span class="fs-8 d-block">Fastest Time</span></div>
          </div>

          <div class="col-md-4 d-flex justify-content-center align-items-center p-3">
            <i class="fa-solid fa-circle-check text-primary pe-3 fs-3"></i>
            <div> <span class="fs-5 fw-bolder">300</span><span class="fs-8 d-block">Correct Answers</span></div>
          </div>










        </div>

      </div>
    </div>
  </div>
</section>


<app-quiz-section></app-quiz-section>
