<nav>
  <div class="container-fluid">
    <div class="row align-items-center justify-content-between ">
      <div class="col-md-9 d-flex">



        <div class="input-group bg-light shadow align-items-center me-3">
          <span class="input-icon"><i class="fa-solid fa-search text-primary"></i></span>
          <input type="search" name="search" id="search" placeholder="Search Quiz" class="form-control">
        </div>
        <!--

        <batton type="button" value="Start Quiz" class="btn btn-primary mx-3 rounded-3 fs-7 py-2 px-3"
          routerLink="home/quizMeun"> -->
        <button class="btn btn-primary fs-7 px-3" routerLink="/home/quizMeun">Start Quiz</button>
      </div>
      <div class="col-md-2"><img src="Rectangle 289.png" alt="progile img" class="w-75 mt-4 rounded-circle"></div>
    </div>
  </div>
</nav>