<section class="w-100 shadow mt-3">
  <div class="container">
    <div class="row p-3 gap-0">
      <div class="d-flex justify-content-between text-primary my-3 fw-bold px-5 border-bottom"><span> Quizes</span>
        <span (click)="getSubjects(0)" class="btn ">View All</span>
      </div>


      @for (subject of allSubjects; track $index) {

      <div class=" col-lg-4 col-md-6">
        <a class="cursor-pointer" [routerLink]="['/home/quizMeun', subject._id]">
          <div class="quiz position-relative p-3">
            <img [src]="subject.icon" [alt]="subject.name" class="w-100">
            <div class="holder"><span>{{subject.name}}</span></div>
          </div>

        </a>
      </div>
      }




    </div>
  </div>
</section>
