<!-- !form-div -->
<form class="mt-5 pt-5" [formGroup]="forgetForm" (submit)="forgetFun()">

  <h2 class="h4 my-3">Forgot your password? </h2>


  <div class="input-fild mt-3">
    <div class="input-group flex-nowrap">
      <input type="email" class="form-control bg-light" placeholder="Enter Email" aria-label="email"
        aria-describedby="addon-wrapping" formControlName="email"
        [class.is-invalid]="forgetForm.get('email')?.errors&&(forgetForm.get('email')?.touched||forgetForm.get('email')?.dirty)">
    </div>
    <!-- !Eroor  -->
    <app-custom-error [formData]="forgetForm" [inputName]="'email'"></app-custom-error>
  </div>

  <div class="forget-Btn text-end me-2 mt-0 ">
    <p class=" end-100   p-1  " routerLink="/auth/login">back to<span class="text-primary"> login.!</span>
      </p>
  </div>

  @if (errorMassage) {<span class="text-danger p-0 m-0">{{errorMassage}}</span>
  }
  <app-custom-btn [isLoading]="isLogin"><span>sign in</span></app-custom-btn>




</form>
