<!-- !form-div -->
<form class="mt-5 pt-5" [formGroup]="passwordForm" (submit)="newPasswordFunc()">

  <h2 class="h4">Set a Password</h2>

  <div class="input-fild my-3">
    <div class="input-group flex-nowrap">
      <input [type]="passwordType ?'text':'password'" class="form-control bg-light" placeholder="creat password"
        aria-label="password" aria-describedby="addon-wrapping" formControlName="password">
      <span class="input-group-text" (click)="passwordTogle()">

        @if (passwordType) {<i class="fa-solid fa-eye"></i>}
        @else {<i class="fa-solid fa-eye-slash"></i>}
      </span>

    </div>
    <!-- !Error -->
    <app-custom-error [formData]="passwordForm" [inputName]="'password'"></app-custom-error>

  </div>


  <div class=" input-fild mt-3">

    <div class="input-group mb-3">
      <input [type]="passwordType ?'text':'password'" class="form-control  bg-light" placeholder="Re-Enter Password"
        id="rePassword" aria-label="password" formControlName="rePassword">
      <span class="input-group-text" (click)="passwordTogle()">

        @if (passwordType) {<i class="fa-solid fa-eye"></i>}
        @else {<i class="fa-solid fa-eye-slash"></i>}
      </span>
    </div>



    <!-- !Error -->
    <app-custom-error [formData]="passwordForm" [inputName]="'rePassword'"></app-custom-error>


  </div>
  @if (passwordForm.touched && passwordForm.errors?.['passwordMismatch']) {
  <p class="text-danger fs-7">rePassword Not Match password</p>
  }

  <app-custom-btn [isLoading]="isLogin"><span>sign in</span></app-custom-btn>








  <app-icons-bar></app-icons-bar>

</form>
